  <!-- <h1 ng-repeat="geek in Geeks">{{ geek.nom }}</h1>-->
<script>
$('img').tooltip();
</script>
	<div style="text-align:center;">

	<a href="#/Geeks/m" ><img src="/images/homme.jpg" alt="Homme" style="width : 200px; height : 200px;" class="img-circle" data-toggle="tooltip" data-placement="top" title="Hommes"></a>
	<a href="#/Geeks/f"><img src="/images/femme.jpg" alt="Femme" style="width : 200px; height : 200px;" class="img-circle" data-toggle="tooltip" data-placement="top" title="Femmes"></a>

  

	</div>
