  <!-- <h1 ng-repeat="geek in Geeks">{{ geek.nom }}</h1>-->

  <div class="btn-group btn-group-justified">
  	<div class="btn-group">
    	<a href="#/Geeks/m" ><button type="button" class="btn btn-default btn-danger">Homme</button></a>
  	</div>
  	<div class="btn-group">
    	<a href="#/Geeks/f"><button type="button" class="btn btn-default btn-info">Femme</button></a>
  	</div>
  </div>



			
			
			<!--Centre d'intérêt : 
				<select name="interet">
					<option ng-repeat="interet in Interets" value="{{ interet.id }}">{{ interet.nom }}</option>
				</select>-->
			<br>